{% extends 'base.html' %}

{% block a0 %}
<a class="nav-item nav-link" href="{{ url_for('student_index')}}">系统首页</a>
{% endblock %}
{% block a1 %}
<a class="nav-item nav-link" href="{{ url_for('course_select_table') }}">已选课程</a>
{% endblock %}
{% block a2 %}
<a class="nav-item nav-link" href="{{ url_for('course') }}">选课</a>
{% endblock %}
{% block a3 %}
<a class="nav-item nav-link" href="{{ url_for('grade_query') }}">成绩查询</a>
{% endblock %}
{% block a4 %}
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        信息查询
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="{{ url_for('student_info') }}">个人信息</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="{{ url_for('major_info') }}">专业信息</a>
        <a class="dropdown-item" href="{{ url_for('dept_info') }}">学院信息</a>
    </div>
    </li>
{% endblock %}
{% block a5 %}
<a class="nav-item nav-link" href="{{ url_for('voluntary_selection') }}">志愿填选</a>
{% endblock %}

{% block app_content %}
    <div class="container">
        <br><br><br><br><br>
        <h1 class="display-4">Hello, <strong>{{ current_user.StudentName }}同学</strong>!</h1>
        <br><br><br>
        <h1 class="display-3" align="center">欢迎登陆学生选课系统</h1>
        <p class="lead" align="center">Welcome to the Student Selection System</p>
        <hr class="my-4">
        <p align="right"><strong>Created by DropDataBase</strong></p>
    </div>
{% endblock %}