{% extends 'bootstrap/base.html' %}

{% block title %}
    学生选课系统 - DropDataBase
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <!--span class="navbar-brand mb-0 lead">功能列表</span-->
        <a class="navbar-brand" href="#">
            <img src="/static/img/logo.png" width="100" height="40" class="d-inline-block align-top" alt="">
        </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto lead">
        <li class="active">{% block a0 %}{% endblock %}</li>
        <li>{% block a1 %}{% endblock %}</li>
        <li>{% block a2 %}{% endblock %}</li>
        <li>{% block a3 %}{% endblock %}</li>
        <li>{% block a4 %}{% endblock %}</li>
        <li>{% block a5 %}{% endblock %}</li>
        <li>{% block a6 %}{% endblock %}</li>
        </ul>
        <a class="btn btn-danger " href="{{ url_for('logout') }}">退出系统</a>
        
    </div>
</nav>
{% endblock %}

{% block content %}
    <!--img src="/static/img/head.gif"-->
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert" align="center">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
{% endblock %}
