<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>选课系统</title>
    <meta name="description" content="">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="icon" type="image/png" href="/static/assets/i/favicon.png">
    <link rel="apple-touch-icon-precomposed" href="/static/assets/i/app-icon72x72@2x.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI" />
    <link rel="stylesheet" href="/static/assets/css/amazeui.min.css" />
    <link rel="stylesheet" href="/static/assets/css/admin.css">
    <link rel="stylesheet" href="/static/assets/css/app.css">
</head>

<body data-type="generalComponents">
    <header class="am-topbar am-topbar-inverse admin-header">
        <div class="am-topbar-brand">
            <a href="javascript:;" class="tpl-logo">
                <img src="/static/assets/img/logo.png" alt="">
            </a>
        </div>
        <a href="{{ url_for('logout') }}" ><font color="#000000">退出</font></a>
        <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">
        </div>
        <div class="am-collapse am-topbar-collapse" id="topbar-collapse">
            <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">      
            </ul>
        </div>
    </header>
    <div class="tpl-page-container tpl-page-header-fixed">
        <div class="tpl-left-nav tpl-left-nav-hover">
            <div class="tpl-left-nav-title">
                功能列表
            </div>
            <div class="tpl-left-nav-list">
                <ul class="tpl-left-nav-menu">
                   <li class="tpl-left-nav-item">
                        <a href="/student_index" id="student_index" class="nav-link active">
                            <i class="am-icon-home"></i>
                            <span>系统首页</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/course_select" id="course_select" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>选课信息</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/course" id="course" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>课程信息</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/major" id="major" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>专业信息</span>
                        </a>
                    </li>
                    <li class="tpl-left-nav-item">
                        <a href="/dept" id="dept" class="nav-link tpl-left-nav-link-list">
                            <i class="am-icon-bar-chart"></i>
                            <span>学院信息</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="tpl-content-wrapper">
            <div class="tpl-portlet-components">
                <div class="portlet-title">
                    
                        {% if student %}
                        <h1 align="left">Hi, <span style="font-size: 35px;color: #0e90d2">{{ student.StudentName }}</span>
                        ！<br>欢迎登录学生教务管理系统，点击左侧功能列表中的按钮，显示对应的信息
                        </h1>
                        {% else %}
                        <h1 align="left">Hi!<br>欢迎登录学生教务管理系统，点击左侧功能列表中的按钮，显示对应的信息
                        </h1>
                        {% endif %}
                        
                </div>

                <div class="tpl-block">
                    <div class="am-g">
                        <div class="am-u-sm-12">
                            <form class="am-form">
                                <table class="am-table am-table-striped am-table-hover table-main">
                                    <!--<thead>-->
                                        <!--<tr>-->
                                            <!--<th class="table-check"><input type="checkbox" class="tpl-table-fz-check"></th>-->
                                            <!--<th class="table-id">计划号</th>-->
                                            <!--<th class="table-title">计划名称</th>-->
                                            <!--<th class="table-type">执行年份</th>-->
                                            <!--<th class="table-author am-hide-sm-only">专业</th>-->
                                            <!--<th class="table-date am-hide-sm-only">专业方向</th>-->
                                            <!--<th class="table-date am-hide-sm-only">学生类别</th>-->
                                            <!--<th class="table-date am-hide-sm-only">专业必修学分</th>-->
                                            <!--<th class="table-date am-hide-sm-only">专业限选学分</th>-->
                        <!---->
                                        <!--</tr>-->
                                    <!--</thead>-->
                                    <tbody>
                                        {% for post in posts %}
                                        <tr>
                                            <td><input type="checkbox"></td>
                                            <td>{{post.a}}</td>
                                            <td>{{post.b}}</td>
                                            <td>{{post.c}}</td>
                                            <td>{{post.d}}</td>
                                            <td>{{post.e}}</td>
                                            <td>{{post.f}}</td>
                                        </tr>
                                       {% endfor %}
                                    </tbody>
                                </table>
                                
                                <hr>

                            </form>
                        </div>

                    </div>
                </div>
                <div class="tpl-alert"></div>
            </div>
        </div>

    </div>


    <script src="/static/assets/js/jquery.min.js"></script>
    <script src="/static/assets/js/amazeui.min.js"></script>
    <script src="/static/assets/js/app.js"></script>
</body>

</html>